<html>
    <head>
        <title>Contact us</title>
    </head>
    <body>
        <div>
            <a href="index">Home Page</a>
            <a href="aboutus">About Us</a>
        </div>
        <div>
            <h2>Welcome to Contact us Page</h2>
        </div>
        <div>
            <form action="index" method="post">
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br>
                <input type="submit" value="Submit">
                </form>
        </div>
    </body>
</html>